head{text-align: center}
red{color: red}
#green{color: green}
.borda { 
margin: 0;
	padding: 0;
	font-family:  "EurostileLTStd", "Trebuchet MS", verdana;
	text-align: center;
	color: #333;

border-width:5 px solid #000000;    
}
